<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link
            rel="stylesheet"
            th:href="@{/css/fix/header.css}"
            href="../../static/css/fix/header.css"
        />
    </head>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/fix/header.js}" defer></script>
    <body>
        <div class="flex-col min-h-screen bg-green-50">
            <header class="text-white header-main">
                <div
                    class="header-box container mx-auto px-4 flex justify-between items-center"
                    style="padding-top: 1.5rem"
                >
                    <!-- 로고, 검색창, 정보창 -->
                    <div class="header-box-top">
                        <!-- 로고 , 검색창-->
                        <div class="header-box-top-logo">
                            <!-- 고로 -->
                            <a th:href="@{/}">
                                <img
                                    th:src="@{/images/fix/logo.png}"
                                    alt=""
                                    class="header-box-top-logo-img"
                                />
                            </a>
                            <!-- 검색창 -->
                            <div class="modal-search-box-in-top-input">
                                <div class="modal-search-box-in-top-input-img">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="w-5 h-5"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                            clip-rule="evenodd"
                                        ></path>
                                    </svg>
                                </div>
                                <input
                                    type="text"
                                    placeholder="참여하고 싶은 펀딩을 입력해주세요!"
                                    class="modal-search-box-in-top-input-in"
                                />
                            </div>
                        </div>
                        <!-- 로그인 시 -->
                        <div class="header-box-top-pe">
                            <div class="header-box-top-pe-sign">
                                <div class="header-box-top-pe-sign-in">
                                    <svg
                                        class="style__NotificationIcon-sc-1dihp73-29 eODBzq"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M10.7501 3.5C10.6121 3.5 10.5001 3.61193 10.5001 3.75V4.16109C7.35495 4.84777 5.00013 7.64889 5.00013 11V14.6875L4.53246 18.7212C4.51524 18.8697 4.63131 19 4.78079 19H19.2195C19.369 19 19.485 18.8697 19.4678 18.7212L19.0001 14.6875V11C19.0001 7.64888 16.6453 4.84775 13.5001 4.16109V3.75C13.5001 3.61193 13.3882 3.5 13.2501 3.5H10.7501ZM6.29636 17.4L6.60013 14.7799V11C6.60013 8.01766 9.01779 5.6 12.0001 5.6C14.9825 5.6 17.4001 8.01766 17.4001 11V14.7799L17.7039 17.4H6.29636Z"
                                            fill="#191919"
                                        ></path>
                                        <path
                                            d="M10.0001 20H14.5001C14.5001 20.8284 13.8285 21.5 13.0001 21.5H11.5001C10.6717 21.5 10.0001 20.8284 10.0001 20Z"
                                            fill="#191919"
                                        ></path>
                                    </svg>
                                    <!-- 알람 있을때 -->
                                    <div class="main-box-sign-on hidden"></div>
                                </div>
                            </div>
                            <div class="modal-login">
                                <!-- 진짜 창 -->
                                <div class="modal-login-in">
                                    <!-- 각각의 내용 넣기 -->
                                    <div class="modal-login-pe">
                                        <a th:href="@{/user}">프로필</a>
                                    </div>
                                    <div class="modal-login-bar"></div>

                                    <div class="modal-login-pe">
                                        <a th:href="@{/creator/create}"
                                            >판매자 아이디로 전환하기</a
                                        >
                                    </div>
                                    <div class="modal-login-bar"></div>
                                    <a
                                        class="modal-login-pe"
                                        th:href="@{/logout}"
                                        >로그아웃</a
                                    >
                                </div>
                                <!-- 닫기위한 전체 창 -->
                                <div
                                    class="modal-login-close"
                                    id="modal-controller"
                                ></div>
                            </div>
                            <!--                           판매자용 모달-->
                            <div class="modal-login-add">
                                <!-- 진짜 창 -->
                                <div class="modal-login-in">
                                    <!-- 각각의 내용 넣기 -->
                                    <div class="modal-login-pe">
                                        <a th:href="@{/user}">프로필</a>
                                    </div>
                                    <div class="modal-login-bar"></div>
                                    <div class="modal-login-pe">
                                        <a th:href="@{/campaign/intro}"
                                            >캠페인 만들기</a
                                        >
                                    </div>
                                    <div class="modal-login-bar"></div>
                                    <a
                                        class="modal-login-pe"
                                        th:href="@{/logout}"
                                        >로그아웃</a
                                    >
                                </div>
                                <!-- 닫기위한 전체 창 -->
                                <div
                                    class="modal-login-close"
                                    id="modal-controller-add"
                                ></div>
                            </div>
                            <!-- 알람창 -->
                            <div class="modal-alert">
                                <!-- 진짜 창 -->
                                <div class="modal-login-in">
                                    <!-- 각각의 내용 넣기 -->
                                    <div class="modal-login-pe">
                                        <a th:href="@{/user}">프로필</a>
                                    </div>
                                    <div class="modal-login-bar"></div>
                                    <div class="modal-login-pe">
                                        <a th:href="@{/campaign/intro}"
                                            >캠페인 만들기</a
                                        >
                                    </div>
                                    <div class="modal-login-bar"></div>
                                    <a
                                        class="modal-login-pe"
                                        th:href="@{/logout}"
                                        >로그아웃</a
                                    >
                                </div>
                                <!-- 닫기위한 전체 창 -->
                                <div
                                    class="modal-login-close"
                                    id="modal-controller-add"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <!-- 내비게이션 바 -->
                    <div class="header-nav">
                        <div class="header-nav-in">
                            <div class="header-nav-in-me">
                                <!-- 여기에 이제 넣고싶은거 카테고리 빼고 추가 -->
                                <!-- 사실상 여기부터 반복 -->
                                <div class="header-nav-home">
                                    진행 중인 캠페인
                                </div>
                                <div class="header-nav-home">
                                    진행 예정 캠페인
                                </div>
                                <div class="header-nav-home">구매</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- 검색창 모달 -->

        <!-- 카테고리 -->
    </body>
    <!--    <script src="../../static/js/fix/header.js"></script>-->
</html>
