<div class="main-in-box-na">
  <div class="main-in-box-na-box">
    <div class="main-in-box-na-box-pe">
      <span class="main-in-box-na-box-pe-span current">
        <div class="main-in-box-na-box-pe-span-in">
          <a
            href="/src/main/resources/templates/user/mypage-profile.html"
            th:href="@{/user}"
            >프로필</a
          >
        </div>
      </span>
      <span class="main-in-box-na-box-pe-span">
        <div class="main-in-box-na-box-pe-span-in">
          <a
            href="/src/main/resources/templates/user/mypage-reply.html"
            th:href="@{/user/reply}"
            >작성한 후기</a
          >
        </div>
      </span>
      <span class="main-in-box-na-box-pe-span">
        <div class="main-in-box-na-box-pe-span-in">
          <a
            href="/src/main/resources/templates/user/mypage-sponsor.html"
            th:href="@{/user/sponsor}"
            >내가 후원한 캠페인</a
          >
        </div>
      </span>
      <span class="main-in-box-na-box-pe-span">
        <div class="main-in-box-na-box-pe-span-in">
          <a
            href="/src/main/resources/templates/user/mypage-like.html"
            th:href="@{/user/like}"
            >좋아요 누른 캠페인</a
          >
        </div>
      </span>
      <span class="main-in-box-na-box-pe-span">
        <div class="main-in-box-na-box-pe-span-in">
          <a
            href="/src/main/resources/templates/user/mypage-alarm.html"
            th:href="@{/user/alarm}"
            >알림</a
          >
        </div>
      </span>
    </div>
  </div>
</div>
