<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UP-DA :: 내가 후원한 캠페인 상세정보</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="icon" th:href="@{/images/fix/favicon.png}" type="image/png" />
    <link
      rel="stylesheet"
      th:href="@{/css/user/mypage-donation-detail.css}"
      href="../../static/css/user/mypage-donation-detail.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/fix/header.css}"
      href="../../static/css/fix/header.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/fix/footer.css}"
      href="../../static/css/fix/footer.css"
    />
    <script th:src="@{/js/fix/header.js}" defer></script>
    <script th:src="@{/js/user/mypage-donation-detail.js}" defer></script>
  </head>
  <body>
    <div th:replace="~{fix/header :: header}"></div>
    <main>
      <section id="projects" style="background-color: #ffffff">
        
        <div class="container mx-auto px-4 target-project">
          <!-- 배송 상태 조회 (안보임) -->
          <div class="main-in-mi-content-box" style="display: none;">
                    <div class="main-in-mi-content-box-title">
                      <p class="main-in-mi-content-box-title-le">배송 상태</p>
                    </div>
                    <form th:action="@{/user/donation/detail/{donationId}(donationId=${donation.donationId})}" method="post">
                      <div class="main-in-mi-content-box-content">
                        <dl class="main-in-mi-content-box-content-in">
                          <dt>택배사 Id</dt>
                          <dd> <input type="text" name="courierId" id="courierId"></dd>
                        </dl>
                        <dl class="main-in-mi-content-box-content-in">
                          <dt>운송장 번호</dt>
                          <dd> <input type="text" name="trackingNumber" id="trackingNumber"></dd>
                        </dl>
                        <dl class="main-in-mi-content-box-content-in">
                          <dd> <button type="submit">조회</button></dd>
                        </dl>
                        <dl>
                          <dt>
                            배송 상태
                          </dt>
                          <dd class="result" th:if="${status != null}">
                            <p id="status" th:text="${status}"></p>
                          </dd>
                        </dl>
                      </div>
                    </form>
                  </div>
                  <!-- 주목할 만한 프로젝트 -->
          <div class="main">
            <div class="main-in">
              <!-- 상단 캠페인 내용 -->
              <section class="main-in-top">
                <div class="main-in-top-box">
                  <div class="main-in-top-box-img">
                    <a th:href="@{/campaign/{id}(id=${campaign.campaignId})}">
                      <img
                        th:src="${imageUrl}"
                        alt=""
                      />
                    </a>
                  </div>
                  <div class="main-in-top-box-content">
                    <!-- <span class="main-in-top-box-content-top"
                      >캐릭터 · 굿즈</span
                    > -->
                    <h3 class="main-in-top-box-content-mi">
                      <a th:href="@{/campaign/{id}(id=${campaign.campaignId})}"
                      th:text="${campaign.title}"
                      >일하기 싫은 직장인 그 자체 +모지 키링+</a>
                    </h3>
                    <div class="main-in-top-box-content-bo">
                      <strong th:text="${donation.material.name}"></strong> 
                      <span th:text="${donation.quantity}"></span>개        
                      <span style="margin-left: 10px;" class="main-in-top-box-content-bo-mi" th:text="${achievement}"></span>% 달성
                    </div>
                  </div>
                </div>
              </section>
              <!-- 내 구매 내역 -->
              <div class="main-in-mi">
                <!-- 내용 -->
                <div class="main-in-mi-content">
                  <!-- 사실상 여기 반복 -->
                  <div class="main-in-mi-content-box">
                    <div class="main-in-mi-content-box-title">
                      <p class="main-in-mi-content-box-title-le">기부 정보</p>
                    </div>
                    <div class="main-in-mi-content-box-content">
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>캠페인 상태</dt>
                        <dd class="add" th:text="${achievement >= 100 ? '달성' : '미달성'}"></dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>물품 확인</dt>
                        <dd class="add" th:text="${donation.status}"></dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>후원 날짜</dt>
                        <dd th:text="${#temporals.format(donation.donatedDate, 'yyyy.MM.dd')}"></dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>펀딩 마감일</dt>
                        <dd th:text="${#temporals.format(campaign.endDate, 'yyyy.MM.dd')}"></dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>기부 품목</dt>
                        <dd>

                          <span class="add" th:text="${donation.material.name}" style="margin-right: 10px;"></span>
                          <span class="add" th:text="${donation.quantity}"></span>
                          <span>개</span> 
                        </dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>선택 리워드</dt>
                        <dd th:text="${rewardName}"></dd>
                      </dl>
                    </div>
                  </div>
                  <!-- 배송 정보 -->
                  <div class="main-in-mi-content-box">
                    <div class="main-in-mi-content-box-title">
                      <p class="main-in-mi-content-box-title-le">배송 정보</p>
                    </div>
                    <div class="main-in-mi-content-box-content">
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>받는 사람</dt>
                        <dd th:text="${user.userName}"></dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>연락처</dt>
                        <dd th:text="${user.phoneNumber}"></dd>
                      </dl>
                      <dl  class="main-in-mi-content-box-content-in">
                        <dt>주소</dt>
                        <dd id = "address" th:text="${user.userAddress}"></dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>송장번호</dt>
                        <dd id="courierName" th:text="${reward.invoice != null ? reward.invoice : '배송을 준비중이니 조금 기다려 주세요 :)'}"></dd>
                      </dl>
                      <dl class="main-in-mi-content-box-content-in">
                        <dt>배송 상태</dt>
                        <dd id="deliveryStatus"></dd>
                      </dl>
                    </div>
                  </div>
                  <!-- 배송 상태 조회 -->
                  
                </div>
                <!-- 밑에 버튼 -->
                <div class="main-in-mi-content-box-btn">
                  <a th:href="@{/user/donation}">
                    <button class="main-in-mi-content-box-btn-in">
                      후원 목록 보기
                    </button>
                  </a>
                </div>
              </div>
              <!-- 추천 -->
              <div class="main-in-bo">
                <div class="main-in-bo-box">
                  <div class="main-in-bo-box-title">
                    인기 프로젝트
                  </div>
                  <div class="main-in-bo-box-content">
                    <div class="main-in-bo-box-content-in">
                      <!-- 각각의 div들어감 -->
                      <div class="main-in-bo-box-content-in-pe">
                        <div class="main-in-bo-box-content-in-pe-box">
                          <a
                            href="/"
                            class="main-in-bo-box-content-in-pe-box-a"
                          >
                            <div class="main-in-bo-box-content-in-pe-box-a-img">
                              <img
                                src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctYXNzZXRzIiwia2V5IjoiY292ZXIvYzZhNzU4NjgtMzA3Ni00ODk5LTlmOTEtNGQwZDMzNGY1NGExL2FmYjZmMTNmLTM3ZjktNGQxZC1iYTUzLTU2M2FhNDFjNWY3Mi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjQ2NSwiaGVpZ2h0Ijo0NjUsIndpdGhvdXRFbmxhcmdlbWVudCI6dHJ1ZX19fQ=="
                                alt=""
                                class="main-in-bo-box-content-in-pe-box-a-img-in"
                              />
                              <!-- 좋아요 버튼 -->
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-img-like"
                              >
                                <svg
                                  width="40"
                                  height="40"
                                  viewBox="0 0 40 40"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M19.463 15.3087L19.9993 15.7933L20.5356 15.3087L22.2643 13.747C22.2643 13.747 22.2643 13.7469 22.2643 13.7469C23.615 12.5269 25.9852 12.7532 27.3097 14.2118L27.3156 14.2182L27.3216 14.2246C28.9912 15.9843 29.0145 19.0158 27.2167 20.9218L19.9995 27.9864L12.7818 20.9218C10.9839 19.0158 11.0075 15.984 12.6769 14.2246L12.6829 14.2182L12.6888 14.2118C14.0133 12.7532 16.3836 12.5269 17.7343 13.7469C17.7343 13.7469 17.7343 13.7469 17.7344 13.747L19.463 15.3087Z"
                                    fill="black"
                                    fill-opacity="0.25"
                                    stroke="white"
                                    stroke-width="1.6"
                                  ></path>
                                  <g filter="url(#filter0_dd_909_4706012)">
                                    <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M19.9992 17.111L17.0789 14.4725C17.0789 14.4725 17.079 14.4726 17.0789 14.4725C16.1903 13.67 14.4337 13.7447 13.4126 14.8691L13.3995 14.8835L13.3861 14.8976C12.0903 16.2633 12.039 18.6949 13.4805 20.2374L19.9994 26.6181L26.518 20.2374C27.9595 18.6949 27.9084 16.2637 26.6123 14.8976L26.5989 14.8835L26.5859 14.8691C25.5648 13.7447 23.8085 13.6699 22.9198 14.4725C22.9198 14.4725 22.9198 14.4724 22.9198 14.4725L19.9992 17.111ZM21.728 13.1533C23.4567 11.5918 26.3291 11.942 27.902 13.6739C29.8776 15.7563 29.8775 19.2796 27.7872 21.4827L19.9995 29.1058L12.2112 21.4827C10.1209 19.2796 10.121 15.7559 12.0965 13.6739C13.6694 11.942 16.5419 11.5917 18.2706 13.1533L19.9993 14.7151L21.728 13.1533Z"
                                      fill="white"
                                    ></path>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div
                              class="main-in-bo-box-content-in-pe-box-a-content"
                            >
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-content-box"
                              >
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-content-box-top"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-content-box-top-in"
                                  >
                                    슬리핑코 워크샵
                                  </div>
                                </div>
                                <!-- 이름 -->
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-title"
                                >
                                  자나 깨나 꿈 많은 토끼, 나는 슬리핑코!
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-per"
                                >
                                  172% 달성
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-tag"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-tag-in"
                                  >
                                    <!-- 각각의 태그 -->
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      청바지
                                    </div>
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      히트상품
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <!-- 각각의 div들어감 -->
                      <div class="main-in-bo-box-content-in-pe">
                        <div class="main-in-bo-box-content-in-pe-box">
                          <a
                            href="/"
                            class="main-in-bo-box-content-in-pe-box-a"
                          >
                            <div class="main-in-bo-box-content-in-pe-box-a-img">
                              <img
                                src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctYXNzZXRzIiwia2V5IjoiY292ZXIvYzZhNzU4NjgtMzA3Ni00ODk5LTlmOTEtNGQwZDMzNGY1NGExL2FmYjZmMTNmLTM3ZjktNGQxZC1iYTUzLTU2M2FhNDFjNWY3Mi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjQ2NSwiaGVpZ2h0Ijo0NjUsIndpdGhvdXRFbmxhcmdlbWVudCI6dHJ1ZX19fQ=="
                                alt=""
                                class="main-in-bo-box-content-in-pe-box-a-img-in"
                              />
                              <!-- 좋아요 버튼 -->
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-img-like"
                              >
                                <svg
                                  width="40"
                                  height="40"
                                  viewBox="0 0 40 40"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M19.463 15.3087L19.9993 15.7933L20.5356 15.3087L22.2643 13.747C22.2643 13.747 22.2643 13.7469 22.2643 13.7469C23.615 12.5269 25.9852 12.7532 27.3097 14.2118L27.3156 14.2182L27.3216 14.2246C28.9912 15.9843 29.0145 19.0158 27.2167 20.9218L19.9995 27.9864L12.7818 20.9218C10.9839 19.0158 11.0075 15.984 12.6769 14.2246L12.6829 14.2182L12.6888 14.2118C14.0133 12.7532 16.3836 12.5269 17.7343 13.7469C17.7343 13.7469 17.7343 13.7469 17.7344 13.747L19.463 15.3087Z"
                                    fill="black"
                                    fill-opacity="0.25"
                                    stroke="white"
                                    stroke-width="1.6"
                                  ></path>
                                  <g filter="url(#filter0_dd_909_4706012)">
                                    <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M19.9992 17.111L17.0789 14.4725C17.0789 14.4725 17.079 14.4726 17.0789 14.4725C16.1903 13.67 14.4337 13.7447 13.4126 14.8691L13.3995 14.8835L13.3861 14.8976C12.0903 16.2633 12.039 18.6949 13.4805 20.2374L19.9994 26.6181L26.518 20.2374C27.9595 18.6949 27.9084 16.2637 26.6123 14.8976L26.5989 14.8835L26.5859 14.8691C25.5648 13.7447 23.8085 13.6699 22.9198 14.4725C22.9198 14.4725 22.9198 14.4724 22.9198 14.4725L19.9992 17.111ZM21.728 13.1533C23.4567 11.5918 26.3291 11.942 27.902 13.6739C29.8776 15.7563 29.8775 19.2796 27.7872 21.4827L19.9995 29.1058L12.2112 21.4827C10.1209 19.2796 10.121 15.7559 12.0965 13.6739C13.6694 11.942 16.5419 11.5917 18.2706 13.1533L19.9993 14.7151L21.728 13.1533Z"
                                      fill="white"
                                    ></path>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div
                              class="main-in-bo-box-content-in-pe-box-a-content"
                            >
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-content-box"
                              >
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-content-box-top"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-content-box-top-in"
                                  >
                                    슬리핑코 워크샵
                                  </div>
                                </div>
                                <!-- 이름 -->
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-title"
                                >
                                  자나 깨나 꿈 많은 토끼, 나는 슬리핑코!
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-per"
                                >
                                  172% 달성
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-tag"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-tag-in"
                                  >
                                    <!-- 각각의 태그 -->
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      청바지
                                    </div>
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      히트상품
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <!-- 각각의 div들어감 -->
                      <div class="main-in-bo-box-content-in-pe">
                        <div class="main-in-bo-box-content-in-pe-box">
                          <a
                            href="/"
                            class="main-in-bo-box-content-in-pe-box-a"
                          >
                            <div class="main-in-bo-box-content-in-pe-box-a-img">
                              <img
                                src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctYXNzZXRzIiwia2V5IjoiY292ZXIvYzZhNzU4NjgtMzA3Ni00ODk5LTlmOTEtNGQwZDMzNGY1NGExL2FmYjZmMTNmLTM3ZjktNGQxZC1iYTUzLTU2M2FhNDFjNWY3Mi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjQ2NSwiaGVpZ2h0Ijo0NjUsIndpdGhvdXRFbmxhcmdlbWVudCI6dHJ1ZX19fQ=="
                                alt=""
                                class="main-in-bo-box-content-in-pe-box-a-img-in"
                              />
                              <!-- 좋아요 버튼 -->
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-img-like"
                              >
                                <svg
                                  width="40"
                                  height="40"
                                  viewBox="0 0 40 40"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M19.463 15.3087L19.9993 15.7933L20.5356 15.3087L22.2643 13.747C22.2643 13.747 22.2643 13.7469 22.2643 13.7469C23.615 12.5269 25.9852 12.7532 27.3097 14.2118L27.3156 14.2182L27.3216 14.2246C28.9912 15.9843 29.0145 19.0158 27.2167 20.9218L19.9995 27.9864L12.7818 20.9218C10.9839 19.0158 11.0075 15.984 12.6769 14.2246L12.6829 14.2182L12.6888 14.2118C14.0133 12.7532 16.3836 12.5269 17.7343 13.7469C17.7343 13.7469 17.7343 13.7469 17.7344 13.747L19.463 15.3087Z"
                                    fill="black"
                                    fill-opacity="0.25"
                                    stroke="white"
                                    stroke-width="1.6"
                                  ></path>
                                  <g filter="url(#filter0_dd_909_4706012)">
                                    <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M19.9992 17.111L17.0789 14.4725C17.0789 14.4725 17.079 14.4726 17.0789 14.4725C16.1903 13.67 14.4337 13.7447 13.4126 14.8691L13.3995 14.8835L13.3861 14.8976C12.0903 16.2633 12.039 18.6949 13.4805 20.2374L19.9994 26.6181L26.518 20.2374C27.9595 18.6949 27.9084 16.2637 26.6123 14.8976L26.5989 14.8835L26.5859 14.8691C25.5648 13.7447 23.8085 13.6699 22.9198 14.4725C22.9198 14.4725 22.9198 14.4724 22.9198 14.4725L19.9992 17.111ZM21.728 13.1533C23.4567 11.5918 26.3291 11.942 27.902 13.6739C29.8776 15.7563 29.8775 19.2796 27.7872 21.4827L19.9995 29.1058L12.2112 21.4827C10.1209 19.2796 10.121 15.7559 12.0965 13.6739C13.6694 11.942 16.5419 11.5917 18.2706 13.1533L19.9993 14.7151L21.728 13.1533Z"
                                      fill="white"
                                    ></path>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div
                              class="main-in-bo-box-content-in-pe-box-a-content"
                            >
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-content-box"
                              >
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-content-box-top"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-content-box-top-in"
                                  >
                                    슬리핑코 워크샵
                                  </div>
                                </div>
                                <!-- 이름 -->
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-title"
                                >
                                  자나 깨나 꿈 많은 토끼, 나는 슬리핑코!
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-per"
                                >
                                  172% 달성
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-tag"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-tag-in"
                                  >
                                    <!-- 각각의 태그 -->
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      청바지
                                    </div>
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      히트상품
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <!-- 각각의 div들어감 -->
                      <div class="main-in-bo-box-content-in-pe">
                        <div class="main-in-bo-box-content-in-pe-box">
                          <a
                            href="/"
                            class="main-in-bo-box-content-in-pe-box-a"
                          >
                            <div class="main-in-bo-box-content-in-pe-box-a-img">
                              <img
                                src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctYXNzZXRzIiwia2V5IjoiY292ZXIvYzZhNzU4NjgtMzA3Ni00ODk5LTlmOTEtNGQwZDMzNGY1NGExL2FmYjZmMTNmLTM3ZjktNGQxZC1iYTUzLTU2M2FhNDFjNWY3Mi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjQ2NSwiaGVpZ2h0Ijo0NjUsIndpdGhvdXRFbmxhcmdlbWVudCI6dHJ1ZX19fQ=="
                                alt=""
                                class="main-in-bo-box-content-in-pe-box-a-img-in"
                              />
                              <!-- 좋아요 버튼 -->
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-img-like"
                              >
                                <svg
                                  width="40"
                                  height="40"
                                  viewBox="0 0 40 40"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M19.463 15.3087L19.9993 15.7933L20.5356 15.3087L22.2643 13.747C22.2643 13.747 22.2643 13.7469 22.2643 13.7469C23.615 12.5269 25.9852 12.7532 27.3097 14.2118L27.3156 14.2182L27.3216 14.2246C28.9912 15.9843 29.0145 19.0158 27.2167 20.9218L19.9995 27.9864L12.7818 20.9218C10.9839 19.0158 11.0075 15.984 12.6769 14.2246L12.6829 14.2182L12.6888 14.2118C14.0133 12.7532 16.3836 12.5269 17.7343 13.7469C17.7343 13.7469 17.7343 13.7469 17.7344 13.747L19.463 15.3087Z"
                                    fill="black"
                                    fill-opacity="0.25"
                                    stroke="white"
                                    stroke-width="1.6"
                                  ></path>
                                  <g filter="url(#filter0_dd_909_4706012)">
                                    <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M19.9992 17.111L17.0789 14.4725C17.0789 14.4725 17.079 14.4726 17.0789 14.4725C16.1903 13.67 14.4337 13.7447 13.4126 14.8691L13.3995 14.8835L13.3861 14.8976C12.0903 16.2633 12.039 18.6949 13.4805 20.2374L19.9994 26.6181L26.518 20.2374C27.9595 18.6949 27.9084 16.2637 26.6123 14.8976L26.5989 14.8835L26.5859 14.8691C25.5648 13.7447 23.8085 13.6699 22.9198 14.4725C22.9198 14.4725 22.9198 14.4724 22.9198 14.4725L19.9992 17.111ZM21.728 13.1533C23.4567 11.5918 26.3291 11.942 27.902 13.6739C29.8776 15.7563 29.8775 19.2796 27.7872 21.4827L19.9995 29.1058L12.2112 21.4827C10.1209 19.2796 10.121 15.7559 12.0965 13.6739C13.6694 11.942 16.5419 11.5917 18.2706 13.1533L19.9993 14.7151L21.728 13.1533Z"
                                      fill="white"
                                    ></path>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div
                              class="main-in-bo-box-content-in-pe-box-a-content"
                            >
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-content-box"
                              >
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-content-box-top"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-content-box-top-in"
                                  >
                                    슬리핑코 워크샵
                                  </div>
                                </div>
                                <!-- 이름 -->
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-title"
                                >
                                  자나 깨나 꿈 많은 토끼, 나는 슬리핑코!
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-per"
                                >
                                  172% 달성
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-tag"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-tag-in"
                                  >
                                    <!-- 각각의 태그 -->
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      청바지
                                    </div>
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      히트상품
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <!-- 각각의 div들어감 -->
                      <div class="main-in-bo-box-content-in-pe">
                        <div class="main-in-bo-box-content-in-pe-box">
                          <a
                            href="/"
                            class="main-in-bo-box-content-in-pe-box-a"
                          >
                            <div class="main-in-bo-box-content-in-pe-box-a-img">
                              <img
                                src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctYXNzZXRzIiwia2V5IjoiY292ZXIvYzZhNzU4NjgtMzA3Ni00ODk5LTlmOTEtNGQwZDMzNGY1NGExL2FmYjZmMTNmLTM3ZjktNGQxZC1iYTUzLTU2M2FhNDFjNWY3Mi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjQ2NSwiaGVpZ2h0Ijo0NjUsIndpdGhvdXRFbmxhcmdlbWVudCI6dHJ1ZX19fQ=="
                                alt=""
                                class="main-in-bo-box-content-in-pe-box-a-img-in"
                              />
                              <!-- 좋아요 버튼 -->
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-img-like"
                              >
                                <svg
                                  width="40"
                                  height="40"
                                  viewBox="0 0 40 40"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M19.463 15.3087L19.9993 15.7933L20.5356 15.3087L22.2643 13.747C22.2643 13.747 22.2643 13.7469 22.2643 13.7469C23.615 12.5269 25.9852 12.7532 27.3097 14.2118L27.3156 14.2182L27.3216 14.2246C28.9912 15.9843 29.0145 19.0158 27.2167 20.9218L19.9995 27.9864L12.7818 20.9218C10.9839 19.0158 11.0075 15.984 12.6769 14.2246L12.6829 14.2182L12.6888 14.2118C14.0133 12.7532 16.3836 12.5269 17.7343 13.7469C17.7343 13.7469 17.7343 13.7469 17.7344 13.747L19.463 15.3087Z"
                                    fill="black"
                                    fill-opacity="0.25"
                                    stroke="white"
                                    stroke-width="1.6"
                                  ></path>
                                  <g filter="url(#filter0_dd_909_4706012)">
                                    <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M19.9992 17.111L17.0789 14.4725C17.0789 14.4725 17.079 14.4726 17.0789 14.4725C16.1903 13.67 14.4337 13.7447 13.4126 14.8691L13.3995 14.8835L13.3861 14.8976C12.0903 16.2633 12.039 18.6949 13.4805 20.2374L19.9994 26.6181L26.518 20.2374C27.9595 18.6949 27.9084 16.2637 26.6123 14.8976L26.5989 14.8835L26.5859 14.8691C25.5648 13.7447 23.8085 13.6699 22.9198 14.4725C22.9198 14.4725 22.9198 14.4724 22.9198 14.4725L19.9992 17.111ZM21.728 13.1533C23.4567 11.5918 26.3291 11.942 27.902 13.6739C29.8776 15.7563 29.8775 19.2796 27.7872 21.4827L19.9995 29.1058L12.2112 21.4827C10.1209 19.2796 10.121 15.7559 12.0965 13.6739C13.6694 11.942 16.5419 11.5917 18.2706 13.1533L19.9993 14.7151L21.728 13.1533Z"
                                      fill="white"
                                    ></path>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div
                              class="main-in-bo-box-content-in-pe-box-a-content"
                            >
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-content-box"
                              >
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-content-box-top"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-content-box-top-in"
                                  >
                                    슬리핑코 워크샵
                                  </div>
                                </div>
                                <!-- 이름 -->
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-title"
                                >
                                  자나 깨나 꿈 많은 토끼, 나는 슬리핑코!
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-per"
                                >
                                  172% 달성
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-tag"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-tag-in"
                                  >
                                    <!-- 각각의 태그 -->
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      청바지
                                    </div>
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      히트상품
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <!-- 각각의 div들어감 -->
                      <div class="main-in-bo-box-content-in-pe">
                        <div class="main-in-bo-box-content-in-pe-box">
                          <a
                            href="/"
                            class="main-in-bo-box-content-in-pe-box-a"
                          >
                            <div class="main-in-bo-box-content-in-pe-box-a-img">
                              <img
                                src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctYXNzZXRzIiwia2V5IjoiY292ZXIvYzZhNzU4NjgtMzA3Ni00ODk5LTlmOTEtNGQwZDMzNGY1NGExL2FmYjZmMTNmLTM3ZjktNGQxZC1iYTUzLTU2M2FhNDFjNWY3Mi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjQ2NSwiaGVpZ2h0Ijo0NjUsIndpdGhvdXRFbmxhcmdlbWVudCI6dHJ1ZX19fQ=="
                                alt=""
                                class="main-in-bo-box-content-in-pe-box-a-img-in"
                              />
                              <!-- 좋아요 버튼 -->
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-img-like"
                              >
                                <svg
                                  width="40"
                                  height="40"
                                  viewBox="0 0 40 40"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M19.463 15.3087L19.9993 15.7933L20.5356 15.3087L22.2643 13.747C22.2643 13.747 22.2643 13.7469 22.2643 13.7469C23.615 12.5269 25.9852 12.7532 27.3097 14.2118L27.3156 14.2182L27.3216 14.2246C28.9912 15.9843 29.0145 19.0158 27.2167 20.9218L19.9995 27.9864L12.7818 20.9218C10.9839 19.0158 11.0075 15.984 12.6769 14.2246L12.6829 14.2182L12.6888 14.2118C14.0133 12.7532 16.3836 12.5269 17.7343 13.7469C17.7343 13.7469 17.7343 13.7469 17.7344 13.747L19.463 15.3087Z"
                                    fill="black"
                                    fill-opacity="0.25"
                                    stroke="white"
                                    stroke-width="1.6"
                                  ></path>
                                  <g filter="url(#filter0_dd_909_4706012)">
                                    <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M19.9992 17.111L17.0789 14.4725C17.0789 14.4725 17.079 14.4726 17.0789 14.4725C16.1903 13.67 14.4337 13.7447 13.4126 14.8691L13.3995 14.8835L13.3861 14.8976C12.0903 16.2633 12.039 18.6949 13.4805 20.2374L19.9994 26.6181L26.518 20.2374C27.9595 18.6949 27.9084 16.2637 26.6123 14.8976L26.5989 14.8835L26.5859 14.8691C25.5648 13.7447 23.8085 13.6699 22.9198 14.4725C22.9198 14.4725 22.9198 14.4724 22.9198 14.4725L19.9992 17.111ZM21.728 13.1533C23.4567 11.5918 26.3291 11.942 27.902 13.6739C29.8776 15.7563 29.8775 19.2796 27.7872 21.4827L19.9995 29.1058L12.2112 21.4827C10.1209 19.2796 10.121 15.7559 12.0965 13.6739C13.6694 11.942 16.5419 11.5917 18.2706 13.1533L19.9993 14.7151L21.728 13.1533Z"
                                      fill="white"
                                    ></path>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div
                              class="main-in-bo-box-content-in-pe-box-a-content"
                            >
                              <div
                                class="main-in-bo-box-content-in-pe-box-a-content-box"
                              >
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-content-box-top"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-content-box-top-in"
                                  >
                                    슬리핑코 워크샵
                                  </div>
                                </div>
                                <!-- 이름 -->
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-title"
                                >
                                  자나 깨나 꿈 많은 토끼, 나는 슬리핑코!
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-per"
                                >
                                  172% 달성
                                </div>
                                <div
                                  class="main-in-bo-box-content-in-pe-box-a-tag"
                                >
                                  <div
                                    class="main-in-bo-box-content-in-pe-box-a-tag-in"
                                  >
                                    <!-- 각각의 태그 -->
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      청바지
                                    </div>
                                    <div
                                      class="main-in-bo-box-content-in-pe-box-a-tag-in-pe"
                                    >
                                      히트상품
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div th:replace="~{fix/footer :: footer}"></div>
  </body>
</html>
