<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UP-DA :: 내가 후원함 캠페인</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
        />
        <script src="https://unpkg.com/lucide@latest"></script>
        <link
            rel="icon"
            th:href="@{/images/fix/favicon.png}"
            type="image/png"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/user/mypage-donation.css}"
            href="../../static/css/user/mypage-donation.css"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/fix/header.css}"
            href="../../static/css/fix/header.css"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/fix/footer.css}"
            href="../../static/css/fix/footer.css"
        />
        <!-- <script src="../../static/js/user/mypage-donation.js" defer></script>
        <script th:src="@{/js/user/mypage-donation.js}" defer></script> -->
        <script th:src="@{/js/fix/header.js}" defer></script>
    </head>
    <body>
        <div th:replace="~{fix/header :: header}"></div>
        <main>
            <section id="projects" style="background-color: #ffffff">
                <!-- 주목할 만한 프로젝트 -->
                <div class="container mx-auto px-4 target-project">
                    <div class="main">
                        <div class="main-in">
                            <!-- 공용으로 들어가는 상단 -->
                            <div class="main-in-box">
                                <!-- 프로필쪽 -->
                                <div class="main-in-box-pro">
                                    <div class="main-in-box-pro-le">
                                        <div class="main-in-box-pro-le-in">
                                            <img
                                                src="https://assets.tumblbug.com/profile/default_avatar.png"
                                                alt=""
                                                class="main-in-box-pro-le-in-img"
                                            />
                                            <div
                                                class="main-in-box-pro-le-in-box"
                                            >
                                                <div
                                                    class="main-in-box-pro-le-in-box-title"
                                                >
                                                    <div
                                                        class="main-in-box-pro-le-in-box-title-in"
                                                    >
                                                        <span th:text="${user.userName}">up-da</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="main-in-box-pro-le-in-box-content"
                                                >
                                                    <div
                                                        class="main-in-box-pro-le-in-box-content-box"
                                                    >
                                                        <div
                                                            class="main-in-box-pro-le-in-box-content-box-in"
                                                        >
                                                            <div
                                                                class="main-in-box-pro-le-in-box-content-box-in-top"
                                                            >
                                                                팔로잉
                                                                <svg
                                                                    class="Styled__StyledIconChevronRight-sc-15jatcm-8 kdRksf"
                                                                    width="18"
                                                                    height="18"
                                                                    viewBox="0 0 18 18"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                >
                                                                    <path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M13.5 9L7.87504 15L6.75 13.7999L11.2499 9L6.75 4.20005L7.87504 3L13.5 9Z"
                                                                        fill="#545454"
                                                                    ></path>
                                                                </svg>
                                                            </div>
                                                            <div
                                                                class="main-in-box-pro-le-in-box-content-box-in-bo"
                                                            >
                                                                -
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="main-in-box-pro-le-in-box-content-box-in"
                                                        >
                                                            <div
                                                                class="main-in-box-pro-le-in-box-content-box-in-top"
                                                            >
                                                                후원수
                                                                <svg
                                                                    class="Styled__StyledIconChevronRight-sc-15jatcm-8 kdRksf"
                                                                    width="18"
                                                                    height="18"
                                                                    viewBox="0 0 18 18"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                >
                                                                    <path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M13.5 9L7.87504 15L6.75 13.7999L11.2499 9L6.75 4.20005L7.87504 3L13.5 9Z"
                                                                        fill="#545454"
                                                                    ></path>
                                                                </svg>
                                                            </div>
                                                            <div
                                                                class="main-in-box-pro-le-in-box-content-box-in-bo"
                                                            >
                                                            <!-- 펀딩한 개수가 필요함함 -->
                                                                <span></span>-
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- 내비게이션바 -->
                                <div class="main-in-box-na">
                                    <div class="main-in-box-na-box">
                                        <div class="main-in-box-na-box-pe">
                                        <span class="main-in-box-na-box-pe-span ">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-profile.html"
                                            th:href="@{/user}"
                                            >프로필</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-reply.html"
                                            th:href="@{/user/reply}"
                                            >작성한 후기</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span current">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-donation.html"
                                            th:href="@{/user/donation}"
                                            >내가 후원한 캠페인</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span ">
                                            <div class="main-in-box-na-box-pe-span-in ">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-like.html"
                                            th:href="@{/user/like}"
                                            >좋아요 누른 캠페인</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a
                                            href="/src/main/resources/templates/user/mypage-badge.html"
                                            th:href="@{/user/badge}"
                                            >뱃지</a>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                            </div>
                            <!-- 각각의 나올것들 -->
                            <div class="sup">
                                <div class="sup-content">
                                    <div class="sup-content-in">
                                        <!-- 위에 몇개인지 나오고 -->
                                        <div class="sup-content-in-title">
                                            <div
                                                class="sup-content-in-title-text"
                                            >
                                                <span th:text="${donationCount}">1</span>건의 후원내역이
                                                있습니다
                                            </div>
                                        </div>
                                        <!-- 각각의 후원내역 나옴 -->
                                        <div class="sup-content-main" th:each="donation : ${donations}">
                                            <div class="sup-content-main-box">
                                                <div class="sup-content-main-box-in">
                                                    <!-- 이미지 -->
                                                    <div>
                                                        <div class="sup-content-main-box-in-img">
                                                            <!-- 이미지는 campaigns에서 매칭되는 캠페인의 이미지를 사용 -->
                                                            <img th:if="${campaigns.?[id == donation.campaignId][0]?.thumbnailUrl != null}"
                                                                 th:src="${campaigns.?[id == donation.campaignId][0].thumbnailUrl}"
                                                                 alt="캠페인 이미지"/>
                                                        </div>
                                                    </div>
                                                    <!-- 내용 -->
                                                    <div class="sup-content-main-box-in-content">
                                                        <!-- 후원일 -->
                                                        <div class="sup-content-main-box-in-content-date">
                                                            <span>후원일: </span>
                                                            <span th:text="${#temporals.format(donations.donatedDate, 'yyyy.MM.dd')}"></span>
                                                        </div>
                                                        <!-- 제목 -->
                                                        <a th:href="@{/user/donation/detail}" class="sup-content-main-box-in-content-title">
                                                            <!-- campaigns 리스트에서 현재 donation의 campaignId와 매칭되는 캠페인 찾기 -->
                                                            <span th:text="${campaigns.?[id == donations.campaignId][0]?.title}">캠페인 제목</span>
                                                        </a>
                                                        <!-- 구성 -->
                                                        <ul class="sup-content-main-box-in-content-in">
                                                            <li>
                                                                <span th:text="${donations.components}">구성품</span>
                                                            </li>
                                                        </ul>
                                                        <!-- 비용 -->
                                                        <div class="sup-content-main-box-in-content-pr">
                                                            <p class="sup-content-main-box-in-content-pr-le">
                                                                <span th:text="${donations.amount}">후원 금액</span>
                                                            </p>
                                                            <p class="sup-content-main-box-in-content-pr-ri">
                                                                <span th:text="${#temporals.format(donations.sendDate, 'yyyy.MM.dd')}"></span> 배송 예정
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!-- 결과 이미지 -->
                                                    <div class="sup-content-main-box-in-result-img">
                                                        <!-- <img th:src="@{/images/} + ${donation.isSuccess ? 'achieve.png' : 'fail.png'}" alt="결과 이미지" /> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <!-- 2번째 -->
                                        <!-- <div class="sup-content-main">
                                            <div class="sup-content-main-box">
                                                <div
                                                    class="sup-content-main-box-in"
                                                >
                                                    <!-- 이미지 -->
                                                     <div>
                                                        <div>

                                                            <div
                                                            class="sup-content-main-box-in-img"
                                                            ></div>
                                                        </div>
                                                    <!-- 내용 -->
                                                     
                                                    <div
                                                        class="sup-content-main-box-in-content"
                                                    >
                                                        <!-- 후원일 -->
                                                        <div
                                                            class="sup-content-main-box-in-content-date"
                                                            th:value="${donations.donatedDate}"
                                                        >
                                                            후원일 2025. 01. 31
                                                        </div>
                                                        <!-- 제목 -->
                                                        <a
                                                            class="sup-content-main-box-in-content-title"
                                                        >
                                                            <span
                                                            th:value="${campaign.title}"
                                                                >일하기 싫은
                                                                직장인 그 자체
                                                                +모지
                                                                키링+</span
                                                            >
                                                        </a>
                                                        <!-- 구성 -->
                                                        <ul
                                                            class="sup-content-main-box-in-content-in"
                                                        >
                                                            <!-- 구성품들 -->
                                                            <li>
                                                                <span
                                                                    >Go to work
                                                                    패키지</span
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- 비용 -->
                                                        <div
                                                            class="sup-content-main-box-in-content-pr"
                                                        >
                                                            <p
                                                                class="sup-content-main-box-in-content-pr-le"
                                                            >
                                                                청바지 20개
                                                            </p>
                                                            <!-- 배송완료면 빼면됨 -->
                                                            <p
                                                                class="sup-content-main-box-in-content-pr-ri"
                                                            >
                                                                2025.02.06 배송
                                                                예정
                                                            </p>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <div
                                                        class="sup-content-main-box-in-result-img">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- 3번째 -->
                                        <div class="sup-content-main">
                                            <div class="sup-content-main-box">
                                                <div
                                                    class="sup-content-main-box-in"
                                                >
                                                    <!-- 이미지 -->
                                                     <div>
                                                        <div>

                                                            <div
                                                            class="sup-content-main-box-in-img"
                                                            ></div>
                                                        </div>
                                                    <!-- 내용 -->
                                                     
                                                    <div
                                                        class="sup-content-main-box-in-content"
                                                    >
                                                        <!-- 후원일 -->
                                                        <div
                                                            class="sup-content-main-box-in-content-date"
                                                        >
                                                            후원일 2025. 01. 31
                                                        </div>
                                                        <!-- 제목 -->
                                                        <a
                                                            th:href="@{/user/donation/detail}"
                                                            class="sup-content-main-box-in-content-title"
                                                        >
                                                            <span
                                                                >일하기 싫은
                                                                직장인 그 자체
                                                                +모지
                                                                키링+</span
                                                            >
                                                        </a>
                                                        <!-- 구성 -->
                                                        <ul
                                                            class="sup-content-main-box-in-content-in"
                                                        >
                                                            <!-- 구성품들 -->
                                                            <li>
                                                                <span
                                                                    >Go to work
                                                                    패키지</span
                                                                >
                                                            </li>
                                                        </ul>
                                                        <!-- 비용 -->
                                                        <div
                                                            class="sup-content-main-box-in-content-pr"
                                                        >
                                                            <p
                                                                class="sup-content-main-box-in-content-pr-le"
                                                            >
                                                                청바지 20개
                                                            </p>
                                                            <!-- 배송완료면 빼면됨 -->
                                                            <p
                                                                class="sup-content-main-box-in-content-pr-ri"
                                                            >
                                                                2025.02.06 배송
                                                                예정
                                                            </p>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <div
                                                        class="sup-content-main-box-in-result-img">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div th:replace="~{fix/footer :: footer}"></div>
    </body>
</html>
