<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UP-DA :: 마이페이지</title>
    <link
      rel="stylesheet"
    />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
        <link
            rel="icon"
            th:href="@{/images/fix/favicon.png}"
            type="image/png"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/user/mypage-like.css}"
            href="../../static/css/user/mypage-like.css"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/fix/header.css}"
            href="../../static/css/fix/header.css"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/fix/footer.css}"
            href="../../static/css/fix/footer.css"
        />
        <script th:src="@{/js/fix/header.js}" defer></script>
        <script th:src="@{/js/user/mypage-like.js}" defer></script>
    </head>
    <body>
        <div th:replace="~{fix/header :: header}"></div>
        <main>
            <section id="projects" style="background-color: #ffffff">
                <!-- 주목할 만한 프로젝트 -->
                <div class="container mx-auto px-4 target-project">
                    <div class="main">
                        <div class="main-in">
                            <!-- 공용으로 들어가는 상단 -->
                            <div class="main-in-box">
                                <!-- 프로필쪽 -->
                                <div class="main-in-box-pro">
                                    <div class="main-in-box-pro-le">
                                        <div class="main-in-box-pro-le-in">
                                            <img
                                                th:src="${userImageId}"
                                                alt=""
                                                class="main-in-box-pro-le-in-img"
                                            />
                                            <div
                                                class="main-in-box-pro-le-in-box"
                                            >
                                                <div
                                                    class="main-in-box-pro-le-in-box-title"
                                                >
                                                    <div
                                                        class="main-in-box-pro-le-in-box-title-in"
                                                    >
                                                        <span th:text="${user.userName}">up-da</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="main-in-box-pro-le-in-box-content"
                                                >
                                                    <div
                                                        class="main-in-box-pro-le-in-box-content-box"
                                                    >
                                                        <div
                                                            class="main-in-box-pro-le-in-box-content-box-in"
                                                        >
                                                            <a
                                                                class="main-in-box-pro-le-in-box-content-box-in-top"
                                                                th:href="@{/user/like(tab='creator')}"
                                                            >
                                                                팔로잉
                                                                <svg
                                                                    class="Styled__StyledIconChevronRight-sc-15jatcm-8 kdRksf"
                                                                    width="18"
                                                                    height="18"
                                                                    viewBox="0 0 18 18"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                >
                                                                    <path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M13.5 9L7.87504 15L6.75 13.7999L11.2499 9L6.75 4.20005L7.87504 3L13.5 9Z"
                                                                        fill="#545454"
                                                                    ></path>
                                                                </svg>
                                                            </a>
                                                            <a
                                                                th:href="@{/user/like(tab='creator')}"
                                                                class="main-in-box-pro-le-in-box-content-box-in-bo"
                                                            >
                                                                <span th:text="${creatorLikesCount}"></span>
                                                            </a>
                                                        </div>
                                                        <div
                                                            class="main-in-box-pro-le-in-box-content-box-in"
                                                        >
                                                            <a
                                                                class="main-in-box-pro-le-in-box-content-box-in-top"
                                                                th:href="@{/user/donation}"
                                                            >
                                                                후원수
                                                                <svg
                                                                    class="Styled__StyledIconChevronRight-sc-15jatcm-8 kdRksf"
                                                                    width="18"
                                                                    height="18"
                                                                    viewBox="0 0 18 18"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                >
                                                                    <path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M13.5 9L7.87504 15L6.75 13.7999L11.2499 9L6.75 4.20005L7.87504 3L13.5 9Z"
                                                                        fill="#545454"
                                                                    ></path>
                                                                </svg>
                                                            </a>
                                                            <a
                                                                class="main-in-box-pro-le-in-box-content-box-in-bo"
                                                                th:href="@{/user/donation}"
                                                            >
                                                                <span th:text="${donationCount}"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- 내비게이션바 -->
                                <div class="main-in-box-na">
                                    <div class="main-in-box-na-box">
                                        <div class="main-in-box-na-box-pe">
                                        <span class="main-in-box-na-box-pe-span ">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-profile.html"
                                            th:href="@{/user}"
                                            >프로필</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-review.html"
                                            th:href="@{/user/review}"
                                            >작성한 후기</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-donation.html"
                                            th:href="@{/user/donation}"
                                            >내가 후원한 캠페인</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span current">
                                            <div class="main-in-box-na-box-pe-span-in ">
                                            <a 
                                            href="/src/main/resources/templates/user/mypage-like.html"
                                            th:href="@{/user/like}"
                                            >좋아요</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a
                                            href="/src/main/resources/templates/user/mypage-badge.html"
                                            th:href="@{/user/badge}"
                                            >뱃지</a>
                                            </div>
                                        </span>
                                        <span class="main-in-box-na-box-pe-span ">
                                            <div class="main-in-box-na-box-pe-span-in">
                                            <a
                                            href="/src/main/resources/templates/user/mypage-buy.html"
                                            th:href="@{/user/buy}"
                                            >구매내역</a>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                            </div>
                            <!-- 각각의 나올것들 -->
                            <div class="like">
                                <div>
                                    <div class="like-top">

                                            <a href="javascript:void(0)" class="like-top-campaign current-like" id="like-campaign">캠페인</a>

                                            <a href="javascript:void(0)" class="like-top-creator" id="like-creator">크리에이터</a>
                                        <div class="like-top-ri">
                                            <div class="like-top-ri-in">
                                                <select class="like-top-sorting">
                                                    <option value="latest" th:selected="${sort == 'latest'}">최신순</option>
                                                    <option value="deadline" th:selected="${sort == 'deadline'}">마감임박순</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="like-bo">
                                        <div class="like-bo-box-campaign ">
                                            <div class="like-bo-box-in-campaign">
                                                <!-- 각각의div   -->
                                                <div class="like-bo-box-in-pe" th:each="campaign, iterStatus : ${campaigns}">
                                                    <div
                                                        class="like-bo-box-in-pe-in"
                                                    >
                                                        <a
                                                            th:href="@{/campaign/{campaignId}(campaignId=${campaign.campaignId})}"
                                                            class="like-bo-box-in-pe-in-a"
                                                        >
                                                            <div
                                                                class="like-bo-box-in-pe-in-a-img"
                                                            >
                                                                <img
                                                                    th:src="${campaignImageUrls[iterStatus.index]}"
                                                                    src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctYXNzZXRzIiwia2V5IjoiY292ZXIvZWYzYjgwMjgtNTJiOS00NTA3LWIzZDUtMGE4OGRjZTUxMzZkLzNiZmNkMTVlLWYwOGItNGIwNy04YzY5LTljMGZiMzMzODAzNC5qcGVnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo0NjUsImhlaWdodCI6NDY1LCJ3aXRob3V0RW5sYXJnZW1lbnQiOnRydWV9fX0="
                                                                    alt=""
                                                                />
                                                                <!-- like -->
                                                                <div
                                                                    class="like-bo-box-in-pe-in-a-like"
                                                                >
                                                                    <svg
                                                                        width="40"
                                                                        height="40"
                                                                        viewBox="0 0 40 40"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        class="main-like-btn"
                                                                        th:attr="data-like-id=${campaignLikeIdMap[campaign.campaignId] != null ? campaignLikeIdMap[campaign.campaignId] : ''}">

                                                                    >
                                                                        <g
                                                                            filter="url(#filter0_dd_909_4706251)"
                                                                        >
                                                                            <path
                                                                                
                                                                                fill-rule="evenodd"
                                                                                clip-rule="evenodd"
                                                                                d="M19.9993 14.7154L18.2706 13.1536C16.5419 11.592 13.6694 11.9423 12.0965 13.6742C10.121 15.7562 10.1209 19.2799 12.2112 21.483L19.9995 29.1061L27.7872 21.483C29.8775 19.2799 29.8776 15.7566 27.902 13.6742C26.3291 11.9423 23.4567 11.5921 21.728 13.1536L19.9993 14.7154Z"
                                                                                fill="#F86453"
                                                                                th:attr="fill=${campaignLikeIdMap[campaign.campaignId] != null ? 'hotpink' : 'black'}, fill-opacity=${campaignLikeIdMap[campaign.campaignId] != null ? '1' : '0.25'}"
                                                                            ></path>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="like-bo-box-in-pe-in-a-content"
                                                            >
                                                                <div
                                                                    class="like-bo-box-in-pe-in-a-content-title"
                                                                >
                                                                    <div
                                                                        class="like-bo-box-in-pe-in-a-content-title-top"
                                                                    >
                                                                        <div
                                                                            class="like-bo-box-in-pe-in-a-content-title-top-text"
                                                                                th:text="${campaign.createdBy.bName}"
                                                                        >
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="like-bo-box-in-pe-in-a-content-title-mi"
                                                                    >
                                                                        <div
                                                                            class="like-bo-box-in-pe-in-a-content-title-mi-top"
                                                                                th:text="${campaign.title}"
                                                                        >
                                                                        </div>
                                                                        <div
                                                                            class="like-bo-box-in-pe-in-a-content-title-mi-bo"
                                                                            th:text="${#strings.length(campaign.description) > 80 ? #strings.substring(campaign.description, 0, 80) + '...' : campaign.description}" 
                                                                        >
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        style="
                                                                            margin-bottom: 12px;
                                                                        "
                                                                    ></div>
                                                                </div>
                                                                <div class="like-bo-box-in-pe-in-a-content-per">
                                                                <!-- 내부 각 목표에 대해 반복 -->
                                                                <div th:each="goalAchieve, iterAchieveStat : ${campaignAchievementsList[iterStatus.index]}">
                                                                    <div class="goal-item">
                                                                    <!-- 퍼센트 텍스트 -->
                                                                    <div class="goal-percentage">
                                                                        <span th:text="${goalAchieve} + '%'"></span>
                                                                        <span th:text="${campaign.endDate}"></span>
                                                                    </div>
                                                                    <!-- 진행 막대 컨테이너 : 인라인으로 --achievement 값을 설정 -->
                                                                    <div class="like-bo-box-in-pe-in-a-content-per-bo"
                                                                        th:style="'--achievement:' + goalAchieve + '%;'">
                                                                    </div>
                                                                    <!-- 목표 관련 정보 -->
                                                                    <!-- <div class="goal-info">
                                                                        <span class="goal-material"
                                                                            th:text="${campaignGoalsList[iterStatus.index][iterAchieveStat.index].material.name}"></span>
                                                                        <span class="goal-donated"
                                                                            th:text="${donationSumByCampaign[campaign.campaignId]}"></span>
                                                                        <span>/</span>
                                                                        <span class="goal-required"
                                                                            th:text="${campaignGoalsList[iterStatus.index][iterAchieveStat.index].quantityRequired}"></span>
                                                                        <span>개</span>
                                                                    </div> -->
                                                                    </div>
                                                                </div>
                                                                <!-- 캠페인 종료일 등 추가 정보 -->
                                                                <em class="content-box-in-date-in-time">
                                                                </em>
                                                                </div>



                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ---------------- Creator 좋아요 ------------------- -->
                                            <div class="like-bo-box-creator hidden">
                                                 <div class="like-bo-box-in-creator">
                                                     <div class="creator-grid">
                                                         <div class="creator-item" th:each="creator, iterStatus : ${creators}">
                                                             <div class="creator-image">
                                                                 <img th:src="${creatorImageUrls[iterStatus.index]}"
                                                                 alt="크리에이터" />
                                                            </div>
                                                            <div class="creator-info">
                                                                <h3 th:text="${creator.bName}"></h3>
                                                                <p th:text="${creator.intro}"></p>
                                                                <div class="main-like-btn"
                                                                    th:attr="data-like-id=${creatorLikeIdMap[creator.creatorId] != null ? creatorLikeIdMap[creator.creatorId] : ''}">
                                                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path 
                                                                            d="M19.463 15.3087L19.9993 15.7933L20.5356 15.3087L22.2643 13.747C22.2643 13.747 22.2643 13.7469 22.2643 13.7469C23.615 12.5269 25.9852 12.7532 27.3097 14.2118L27.3156 14.2182L27.3216 14.2246C28.9912 15.9843 29.0145 19.0158 27.2167 20.9218L19.9995 27.9864L12.7818 20.9218C10.9839 19.0158 11.0075 15.984 12.6769 14.2246L12.6829 14.2182L12.6888 14.2118C14.0133 12.7532 16.3836 12.5269 17.7343 13.7469C17.7343 13.7469 17.7343 13.7469 17.7344 13.747L19.463 15.3087Z"          
                                                                            stroke="white" stroke-width="1.6"
                                                                            th:attr="fill=${creatorLikeIdMap[creator.creatorId] !=null  ? 'hotpink' : 'black'}, fill-opacity=${creatorLikeIdMap[creator.creatorId] != null ? '1' : '0.25'}"
                                                                        ></path>
                                                                    </svg>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- --------------------구분선 ----------------------- -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div th:replace="~{fix/footer :: footer}"></div>
    </body>
</html>
