<!-- 수정사항(공유 전)
    수정한 내용
    1. 프로필 적힌 내용 (프로필사진, 닉네임, 팔로잉, 후원수) 
    2. 프로필 편집 버튼
    3. 프로필 마이페이지 창 (작성한후기, 후원캠페인 등)
    4. 프로필 사진 수정 시 들어가는 창과 처음 보여지는 사진 크기 조정


    
-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UP-DA :: 마이페이지</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="icon" th:href="@{/images/fix/favicon.png}" type="image/png" />
    <link
      rel="stylesheet"
      th:href="@{/css/user/mypage-profile-edit.css}"
      href="../../static/css/user/mypage-profile-edit.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/fix/header.css}"
      href="../../static/css/fix/header.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/fix/footer.css}"
      href="../../static/css/fix/footer.css"
    />
    <script src="../../static/js/user/mypage-profile-edit.js" defer></script>
    <script th:src="@{/js/user/mypage-profile-edit.js}" defer></script>
    <script th:src="@{/js/fix/header.js}" defer></script>
  </head>
  <body>
    <div th:replace="~{fix/header :: header}"></div>
    <main>
      <section id="projects" style="background-color: #ffffff">
        <!-- 주목할 만한 프로젝트 -->
        <div class="container mx-auto px-4 target-project">
          <div class="main">
            <div class="main-in">
              <!-- 공용으로 들어가는 상단 -->
              <div class="main-in-box">
                <!-- 프로필쪽 -->
                <div class="main-in-box-pro">
                  <div class="main-in-box-pro-le">
                    <div class="main-in-box-pro-le-in">
                      <div class="main-in-box-pro-le-in-text">설정</div>

                      <div class="main-in-box-pro-le-in-box">
                        <div class="main-in-box-pro-le-in-box-title"></div>
                        <div class="main-in-box-pro-le-in-box-content">
                          <div
                            class="main-in-box-pro-le-in-box-content-box"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 내비게이션바 -->
                <div class="main-in-box-na">
                  <div class="main-in-box-na-box">
                    <div class="main-in-box-na-box-pe">
                      <span class="main-in-box-na-box-pe-span current">
                        <div class="main-in-box-na-box-pe-span-in">
                          <a href="/">프로필</a>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 각각의 나올것들 -->
              <div class="main-in-content">
                <div class="main-in-content-in">
                  <!-- 각각의 div  -->
                  <div class="main-in-content-in-pe">
                    <!-- 상단 -->
                    <div class="main-in-content-in-pe-title">
                      <p>프로필 사진</p>
                      <button class="pro-img-btn">변경</button>
                      <button class="pro-img-btn-cancle hidden">취소</button>
                    </div>
                    <!-- 아래 내용 -->
                    <div class="main-in-content-in-pe-content pro-img">
                      <div class="main-in-content-in-pe-content-in">
                        <!-- 수정 필요 사이즈 -->
                        <div class="main-in-content-in-pe-content-in-img"></div>
                      </div>
                    </div>
                    <!-- 버튼 눌렀을때 -->
                    <div class="pro-img-close hidden">
                      <div class="ch-img">
                        <div>
                          <div class="ch-img-box">
                            <div class="ch-img-box-in">
                              <div class="ch-img-box-in-warp"></div>
                            </div>
                          </div>
                        </div>
                        <div class="ch-img-text">
                          <div>
                            <div class="ch-img-text-in">
                              <span>
                                <input type="file" name="ch-img-btn" />
                                <label for="ch-img-btn">파일 업로드</label>
                              </span>
                            </div>
                            <div class="ch-img-text-content">
                              250 x 250 픽셀에 최적화되어 있으며, 5MB 이하의
                              JPG, GIF, PNG 파일을 지원합니다.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="ch-img-save">
                        <!-- 해야할 일
                            - 저장을 하면 사진이  
                        -->
                        <button class="ch-img-save-btn">
                          <span>저장</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- 이름 -->
                  <div class="main-in-content-in-pe">
                    <!-- 상단 -->
                    <div class="main-in-content-in-pe-title">
                      <p>이름</p>
                      <button class="pro-name-btn">변경</button>
                      <button class="pro-name-btn-cancle hidden">취소</button>
                    </div>
                    <!-- 아래 내용 -->
                    <div class="pro-name" th:text="${loginUser.userName}">
                      조관익
                    </div>
                    <!-- 버튼 눌렀을때 -->
                    <div class="pro-name-close hidden">
                      <div>
                        <div class="name-in">
                          <span class="name-in-span">
                            <input
                              type="text"
                              placeholder="이름을 입력해주세요."
                              th:value="${loginUser.userName}"
                            />
                          </span>
                        </div>
                      </div>
                      <div class="name-btn">
                        <button class="name-btn-in">
                          <span>저장</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- 소개 -->
                  <div class="main-in-content-in-pe">
                    <!-- 상단 -->
                    <div class="main-in-content-in-pe-title">
                      <p>소개</p>
                      <button class="pro-sh-btn">변경</button>
                      <button class="pro-sh-btn-cancle hidden">취소</button>
                    </div>
                    <!-- 아래 내용 -->
                    <div class="pro-sh" th:text="${loginUser.intro}">
                      끼에에에에에에에에엑
                    </div>
                    <!-- 버튼 눌렀을때 -->
                    <div class="pro-sh-close hidden">
                      <div>
                        <div class="name-in-span-text">
                          <textarea
                            type="text"
                            placeholder="소개를 입력해주세요."
                            th:value="${loginUser.intro}"
                          ></textarea>
                        </div>
                      </div>
                      <div class="name-btn">
                        <button class="name-btn-in">
                          <span>저장</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- 연락처 -->
                  <div class="main-in-content-in-pe">
                    <!-- 상단 -->
                    <div class="main-in-content-in-pe-title">
                      <p>연락처</p>
                      <button class="pro-ph-btn">변경</button>
                      <button class="pro-ph-btn-cancle hidden">취소</button>
                    </div>
                    <!-- 아래 내용 -->
                    <div class="pro-ph" th:text="${loginUser.phoneNumber}">
                      010-1234-4231
                    </div>
                    <!-- 버튼 눌렀을때 -->
                    <div class="pro-ph-close hidden">
                      <div>
                        <div class="name-in">
                          <span class="name-in-span">
                            <!-- 수정 필요  -->
                            <input
                              type="number"
                              placeholder="연락처를 입력해주세요."
                              th:value="${loginUser.phoneNumber}"
                            />
                          </span>
                        </div>
                      </div>
                      <div class="name-btn">
                        <button class="name-btn-in">
                          <span>저장</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- 주소 -->
                  <div class="main-in-content-in-pe">
                    <!-- 상단 -->
                    <div class="main-in-content-in-pe-title">
                      <p>주소</p>
                      <button class="pro-ad-btn">변경</button>
                      <button class="pro-ad-btn-cancle hidden">취소</button>
                    </div>
                    <!-- 아래 내용 -->
                    <div class="pro-ad" th:text="${loginUser.userAddress}">
                      코엑스 어딘가
                    </div>
                    <!-- 버튼 눌렀을때 -->
                    <div class="pro-ad-close hidden">
                      <div>
                        <div class="name-in">
                          <span class="name-in-span">
                            <input
                              type="text"
                              placeholder="주소를 입력해주세요."
                              th:value="${loginUser.userAddress}"
                            />
                          </span>
                        </div>
                      </div>
                      <div class="name-btn">
                        <button class="name-btn-in">
                          <span>저장</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- 회원탈퇴 -->
                  <div class="main-in-content-in-pe">
                    <!-- 상단 -->
                    <div class="main-in-content-in-pe-title">
                      <p>회원탈퇴</p>
                      <button class="pro-run">탈퇴</button>
                    </div>
                  </div>
                </div>
                <!-- 오른쪽 -->
                <div class="edit-ri">
                  <p>어떤 정보가 프로필에 공개되나요?</p>
                  <div class="edit-ri-box">
                    프로필 사진과 이름, URL, 소개글, 웹사이트가 프로필 페이지에
                    공개 됩니다.
                    <span
                      ><a
                        href="/src/main/resources/templates/user/profile.html"
                        th:href="@{/user/mypage-profile}"
                        >내 프로필 바로가기</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div th:replace="~{fix/footer :: footer}"></div>
  </body>
</html>
