<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UPDA :: 창작가 개설하기</title>
        <link
            rel="icon"
            th:href="@{/images/fix/favicon.png}"
            type="image/png"
        />
        <link
            rel="stylesheet"
            th:href="@{/css/creator/creator-create.css}"
            href="../../static/css/creator/creator-create.css"
        />
        <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            th:href="@{/css/fix/header.css}"
            href="../../static/css/fix/header.css"
        />

        <link
            rel="stylesheet"
            th:href="@{/css/fix/footer.css}"
            href="../../static/css/fix/footer.css"
        />
        <link rel="stylesheet" th:href="@{/css/fix/chat.css}" />
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" ></script>
        <script th:src="@{/js/fix/chat.js}" defer></script>
        <!-- ✅ SweetAlert2 CDN 추가 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    </head>
    <body>
    <div th:replace="~{fix/chat :: chat}"></div>
        <div th:replace="~{fix/header :: header}"></div>
        <!-- 창작가개설 페이지 시작 -->
        <main class="club-create" method="post">
            <div id="app">
                <div class="create-container">
                    <!-- (서버담당을 위해 작성합니다. 배포 시 주석을 지웁시다.) -->
                    <!-- 1단계: 창작가 이름 작성 -->
                    <div class="name-form-wrap">
                        <div class="name-form-title-wrap">
                            <span class="name-form-title"
                                >새로운 창작가 생성</span
                            >
                        </div>
                        <div class="name-form-icon-wrap">
                            <div class="name-form-number-wrap">
                                <span class="name-form-number">1</span>
                            </div>
                            <div class="name-form-dash"></div>
                            <div class="name-form-circle"></div>
                            <div class="name-form-dash"></div>
                            <div class="name-form-circle"></div>
                        </div>
                        <div class="name-form-content-wrap">
                            <div class="name-form-text-wrap">
                                <div class="name-form-text-title">
                                    창작가의 이름을 입력해주세요.
                                </div>
                                <div class="name-form-text-content">
                                    UPDA에서 창작가의 이름이 됩니다.
                                    <br />
                                    제작하신 제품의 성향에 맞는 이름을
                                    정해주세요.
                                </div>
                                <div class="name-form-input-wrap">
                                    <div>
                                        <div>
                                            <input
                                                type="text"
                                                class="name-form-input"
                                                id="bName"
                                                name="creatorId"
                                                placeholder="ex) UPDA"
                                                maxlength="10"
                                                oninput="creator_nickname()"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="desc-form-text-title"
                                    style="padding-top: 50px"
                                >
                                    창작가에 대한 소개글을 작성해주세요.
                                </div>
                                <div class="desc-form-text-content">
                                    창작가에 대해 한 마디로 소개해주세요.
                                </div>
                                <div class="desc-form-input-wrap">
                                    <div>
                                        <div>
                                            <input
                                                type="text"
                                                class="desc-form-input"
                                                id="seller_intro"
                                                name="intro"
                                                placeholder="우리 창작가를 한 마디로 표현한다면?"
                                                maxlength="100"
                                                oninput="creator_intro()"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="name-form-button-wrap">
                                    <button class="name-form-button disabled">
                                        다음
                                    </button><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- (서버담당을 위해 작성합니다. 배포 시 주석을 지웁시다.) -->
                    <!-- 개설 2단계: 창작가에 대한 소개글 입력 -->
                    <div class="desc-form-wrap">
                        <div class="desc-form-title-wrap">
                            <span class="desc-form-title"
                                >새로운 창작가 생성</span
                            >
                        </div>
                        <div class="desc-form-icon-wrap">
                            <div class="desc-form-circle-blue"></div>
                            <div class="desc-form-dash"></div>
                            <div class="desc-form-number-wrap">
                                <span class="desc-form-number">2</span>
                            </div>
                            <div class="desc-form-dash"></div>
                            <div class="desc-form-circle"></div>
                        </div>
                        <div class="desc-form-content-wrap">
                            <div class="desc-form-text-wrap">
                                <!-- 대괄호 안에는 이전에 입력한 창작가명을 넣습니다. -->
                                <div class="desc-form-text-title">
                                    [UPDA]에 창작자님에 대해 적어주세요.
                                </div>
                                <div class="desc-form-text-content">
                                    사업자 등록번호
                                </div>
                                <div class="desc-form-input-wrap">
                                    <div>
                                        <div>
                                            <input
                                                type="text"
                                                class="desc-form-input"
                                                id="seller_regist_number"
                                                name="bRegistNumber"
                                                placeholder="예시) xxx-xx-xxxxx"
                                                maxlength="12"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="desc-form-text-content">
                                    사업자 등록 날짜
                                </div>
                                <div class="desc-form-input-wrap">
                                    <div>
                                        <div>
                                            <input
                                                type="date"
                                                class="desc-form-input"
                                                id="seller_regist_date"
                                                name="registDate"
                                                min="1900-01-01"
                                                max="2099-12-31"
                                                value=""
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="desc-form-text-content">상호명</div>
                                <div class="desc-form-input-wrap">
                                    <div>
                                        <div>
                                            <input
                                                type="text"
                                                class="desc-form-input"
                                                id="seller_regist_name"
                                                name="companyName"
                                                placeholder="사업자등록증에 있는 상호명 입력"
                                                maxlength="50"
                                                oninput="update_seller_regist_name()"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="desc-form-text-content">
                                    대표자 명
                                </div>
                                <div class="desc-form-input-wrap">
                                    <div>
                                        <div>
                                            <input
                                                type="text"
                                                class="desc-form-input"
                                                id="seller_regist_person"
                                                name="bName"
                                                placeholder="대표자 명"
                                                maxlength="20"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="desc-form-text-content">
                                    사업장 소재지
                                </div>
                                <div class="desc-form-input-wrap">
                                    <div>
                                        <div>
                                            <input
                                                type="text"
                                                class="desc-form-input"
                                                id="seller_regist_location"
                                                name="address"
                                                placeholder="사업장 소재지"
                                                maxlength="100"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="desc-form-button-wrap">
                                    <button
                                        type="button"
                                        class="desc-form-prev-button"
                                    >
                                        이전 단계
                                    </button>
                                    <button
                                        type="button"
                                        class="desc-form-button disabled"
                                    >
                                        다음
                                    </button><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- (서버담당을 위해 작성합니다. 배포 시 주석을 지웁시다.) -->
                    <!-- 개설 3단계: 창작가에 대한 소개글 입력 -->
                    <div class="img-form-wrap">
                        <div class="img-form-title-wrap">
                            <span class="img-form-title"
                                >새로운 창작가 생성</span
                            >
                        </div>
                        <div class="img-form-icon-wrap">
                            <div class="img-form-circle-blue"></div>
                            <div class="img-form-dash"></div>
                            <div class="img-form-circle-blue"></div>
                            <div class="img-form-dash"></div>
                            <div class="img-form-number-wrap">
                                <span class="img-form-number">3</span>
                            </div>
                        </div>
                        <div class="img-form-content-wrap">
                            <div class="img-form-text-wrap">
                                <div class="img-form-text-title">
                                    [UPDA] 창작가를 고유한 이미지로 꾸며주세요
                                </div>
                                <div class="img-form-text-content">
                                    창작가의 프로필, 창작가 커버가 직접 등록한
                                    이미지로 채워집니다.
                                </div>
                                <div class="img-form-profile-size-error">
                                    최대 10MB 이하의 이미지만 첨부할 수
                                    있습니다.
                                </div>
                                <div class="img-form-settings-wrap">
                                    <div
                                        class="cover-thumbnail-wrap"
                                        onclick="openCover()"
                                    >
                                        <div
                                            class="cover-thumbnail-container"
                                        ></div>
                                        <img
                                            class="cover-thumbnail"
                                            src="https://event-us.kr/Content/neweventus/image/hostcenter/hostcenter_create_upload_01.png"
                                            alt="커버 썸네일"
                                        />
                                        <div class="cover-upload-wrap">
                                            커버 업로드
                                        </div>
                                        <span class="upload-span-gray"
                                            >&nbsp;&nbsp; 2000*263 이상 (7.6:1)
                                        </span>
                                        <div class="cover-hidden">
                                            <input
                                                type="file"
                                                id="background-image"
                                                name="backImgUrl"
                                                data-ratio="7.6:1"
                                                accept="image/*"
                                            />
                                        </div>
                                        <div class="cover-delete-wrap">
                                            <img
                                                th:src="@{/images/category/cancel_image_icon.png}"
                                                class="cover-delete"
                                            />
                                            <img
                                                th:src="@{/images/category/cancel_image_icon.png}"
                                                class="cover-delete-hover"
                                            />
                                        </div>
                                    </div>
                                    <div class="club-detail-wrap">
                                        <div
                                            class="img-form-thumbnail-wrap"
                                            onclick="openProfile()"
                                        >
                                            <div
                                                class="img-form-thumbnail-bg"
                                            ></div>
                                            <div class="img-form-img-wrap">
                                                <img
                                                    src="https://event-us.kr/Content/neweventus/image/hostcenter/hostcenter_create_upload_01.png"
                                                    alt="썸네일"
                                                    class="img-form-thumbnail"
                                                />
                                                <div
                                                    class="profile-delete-wrap"
                                                >
                                                    <img
                                                        th:src="@{/images/category/cancel_image_icon.png}"
                                                        class="profile-delete"
                                                    />
                                                    <img
                                                        th:src="@{/images/category/cancel_image_icon.png}"
                                                        class="profile-delete-hover"
                                                    />
                                                </div>
                                            </div>
                                            <div class="img-form-hidden">
                                                <input
                                                    type="file"
                                                    id="profile-image"
                                                    name="proImgUrl"
                                                    accept="image/*"
                                                    data-ratio="1:1"
                                                />
                                            </div>
                                        </div>
                                        <div class="club-detail-title-wrap">
                                            <div class="club-detail-name-wrap">
                                                <div class="club-detail-name">
                                                    <span class="display_name"></span>
                                                    
                                                </div>
                                                <div class="company_name">
                                                    <span class="display_seller_name"></span>
                                                </div>
                                            </div>
                                            <div class="club-detail-stats-wrap">
                                                <span>
                                                    <span
                                                        class="club-detail-stats-name"
                                                    >
                                                        
                                                    </span>
                                                    <span
                                                        class="club-detail-stats-count"
                                                        ></span
                                                    >
                                                </span>
                                                <span
                                                    class="club-detail-stats-event"
                                                >
                                                    <span
                                                        class="club-detail-stats-name"
                                                    >
                                                        
                                                    </span>
                                                    <span
                                                        class="club-detail-stats-count"
                                                        ></span
                                                    >
                                                </span>
                                            </div>
                                            <div></div>
                                            <div
                                                class="club-detail-introduction"
                                            >
                                                <span class="display_creator_intro"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-form-buttons-wrap">
                                    <div class="img-form-button-wrap">
                                        <button
                                            type="button"
                                            class="img-form-prev-button"
                                        >
                                            이전 단계
                                        </button>
                                        <button
                                            type="button"
                                            class="img-form-button"
                                        >
                                            창작가 개설 완료
                                        </button>
                                    </div>
                                    <div class="img-form-skip-wrap">
                                        <span class="img-form-skip">
                                            취소하기
                                        </span>
                                    </div><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{fix/footer :: footer}"></div>
    </body>
    <script src="../../static/js/creator/creator-create.js"></script>
    <script th:src="@{/js/creator/creator-create.js}" defer></script>
</html>
