<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>joinDetail</title>
        <link rel="stylesheet" th:href="@{/css/login/joindetail.css}" />
        <link rel="stylesheet" href="../../static/css/login/joindetail.css" />
    </head>
    <body>
        <div class="screen-all-wrap">
            <div class="screen-full-wrap">
                <div class="screen-wrap">
                    <div class="app-screen-all-wrap">
                        <div class="app-screen-wrap">
                            <div>
                                <img
                                    th:src="@{/images/fix/logo.png}"
                                    alt=""
                                    style="width: 410px"
                                />
                            </div>
                            <div class="line-container">
                                <div class="line"></div>
                                <div class="line-text">
                                    <span>회원가입</span>
                                </div>
                                <div class="line"></div>
                            </div>
                            <form
                                th:action="@{/joindetail}"
                                method="post"
                                class="input-all-wrap"
                            >
                                <div class="input-wrap">
                                    <!-- 카카오 ID는 사용자에게 굳이 안 보여줘도 됨 -->
                                    <div class="email-content">
                                        <div class="email-text-divison">
                                            <label class="email-text"
                                                >이메일</label
                                            >
                                        </div>
                                        <input
                                            type="text"
                                            name="email"
                                            th:value="${email}"
                                            readonly="readonly"
                                            class="input name-input"
                                        />
                                    </div>
                                    <div class="name-container">
                                        <div class="name-content">
                                            <div class="name-text-divison">
                                                <label class="name-text"
                                                    >이름</label
                                                >
                                            </div>
                                            <input
                                                type="text"
                                                name="nickname"
                                                th:value="${nickname}"
                                                readonly="readonly"
                                                class="input name-input"
                                            />
                                        </div>
                                    </div>

                                    <div class="agreement-container">
                                        <p>
                                            <span>약관동의</span>
                                        </p>
                                        <!-- [필수]만 14세 이상입니다. -->
                                        <div class="agreement-content">
                                            <div
                                                class="agreement-divison-content"
                                            >
                                                <div class="agreement-divison">
                                                    <input
                                                        class="agreement-button essential"
                                                        id="agreement-age"
                                                        tabindex="4"
                                                        required=""
                                                        type="checkbox"
                                                        value="true"
                                                        data-gtm-form-interact-field-id="0"
                                                    />
                                                    <label
                                                        class="agreement-text"
                                                        for="agreement-age"
                                                    >
                                                        [필수] 만 14세
                                                        이상입니다.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- [필수]이용약관 -->
                                        <div class="agreement-content">
                                            <div
                                                class="agreement-divison-content"
                                            >
                                                <div class="agreement-divison">
                                                    <input
                                                        class="agreement-button essential"
                                                        id="agreement-check"
                                                        tabindex="4"
                                                        required=""
                                                        type="checkbox"
                                                        value="true"
                                                        data-gtm-form-interact-field-id="1"
                                                    />
                                                    <label
                                                        class="agreement-text"
                                                        for="agreement-check"
                                                    >
                                                        <span
                                                            >[필수]
                                                            이용약관</span
                                                        >
                                                    </label>
                                                    <div
                                                        class="agreement-add-text"
                                                    >
                                                        <a
                                                            class="agreement-add-link"
                                                            th:href="@{/terms/service-terms-web}"
                                                        >
                                                            <span>보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- [필수]개인정보 수집·이용 동의서 -->
                                        <div class="agreement-content">
                                            <div
                                                class="agreement-divison-content"
                                            >
                                                <div class="agreement-divison">
                                                    <input
                                                        class="agreement-button essential"
                                                        id="agreement-user"
                                                        tabindex="4"
                                                        required=""
                                                        type="checkbox"
                                                        value="true"
                                                        data-gtm-form-interact-field-id="2"
                                                    />
                                                    <label
                                                        class="agreement-text"
                                                        for="agreement-user"
                                                    >
                                                        <span
                                                            >[필수] 개인정보
                                                            수집·이용
                                                            동의서</span
                                                        >
                                                    </label>
                                                    <div
                                                        class="agreement-add-text"
                                                    >
                                                        <a
                                                            class="agreement-add-link"
                                                            th:href="@{/terms/information-web}"
                                                        >
                                                            <span>보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- [필수]마케팅 정보 수신동의 -->
                                        <div class="agreement-content">
                                            <div
                                                class="agreement-divison-content"
                                            >
                                                <div class="agreement-divison">
                                                    <input
                                                        class="agreement-button"
                                                        id="choice-agreement-send"
                                                        tabindex="4"
                                                        type="checkbox"
                                                        value="true"
                                                        data-gtm-form-interact-field-id="3"
                                                    />
                                                    <label
                                                        class="agreement-text"
                                                        for="choice-agreement-send"
                                                    >
                                                        <span
                                                            >[필수] 마케팅 정보
                                                            수신동의</span
                                                        >
                                                    </label>
                                                    <div
                                                        class="agreement-add-text"
                                                    >
                                                        <a
                                                            class="agreement-add-link"
                                                            th:href="@{/terms/marketing-terms-web}"
                                                        >
                                                            <span>보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- [필수]개인정보 수집·이용 동의서 -->
                                        <div class="agreement-content">
                                            <div
                                                class="agreement-divison-content"
                                            >
                                                <div class="agreement-divison">
                                                    <input
                                                        class="agreement-button"
                                                        id="choice-agreement-user"
                                                        tabindex="4"
                                                        type="checkbox"
                                                        value="true"
                                                        data-gtm-form-interact-field-id="4"
                                                    />
                                                    <label
                                                        class="agreement-text"
                                                        for="choice-agreement-user"
                                                    >
                                                        <span
                                                            >[필수] 개인정보
                                                            수집·이용
                                                            동의서</span
                                                        >
                                                    </label>
                                                    <div
                                                        class="agreement-add-text"
                                                    >
                                                        <a
                                                            class="agreement-add-link"
                                                            th:href="@{/terms/privacyprovision-web}"
                                                        >
                                                            <span>보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                        type="submit"
                                        class="join-wrap disabled"
                                        disabled
                                    >
                                        가입하기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const checkboxes = document.querySelectorAll(".agreement-button"); // 모든 체크박스 선택
            const submitButton = document.querySelector(
                "button[type='submit']"
            );

            function toggleSubmitButton() {
                // 모든 체크박스가 체크되었는지 확인
                const allChecked = Array.from(checkboxes).every(
                    (checkbox) => checkbox.checked
                );
                submitButton.disabled = !allChecked;
            }

            // 체크박스 상태 변경 시 버튼 활성화 여부 확인
            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener("change", toggleSubmitButton);
            });
        });
    </script>

    <script th:src="@{/js/login/joindetail.js}"></script>
</html>
