body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: #f6f5f5;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: inherit;
}

main{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.main{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.main-top{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 100%;
}

.main-top-in{
    position: relative;
    width: 1160px;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.main-top-in-box{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-bottom: 3rem;
    margin: 0px auto;
}

.main-top-in-box-title{
    width: 100%;
    height: auto;
    order: 1;

    text-align: center;
    align-items: flex-start;
}

.main-top-in-box-title-in{
    display: block;
    text-align: left;
    margin: 0px;
    padding: 1.75rem 1rem;
}

.main-top-in-box-title-in-tag{
    background: transparent;
    text-align: center;
}

.main-top-in-box-title-in-tag span{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.6rem;
    color: rgb(117, 117, 117);
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(239, 239, 239);
    border-radius: 2px;
}

.main-top-in-box-title-in-tag-title{
    margin-bottom: 0em;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 1.2rem 0px;
    word-break: break-all;
    text-align: center;
}

.main-top-in-box-img{
    width: 60%;
    height: auto;
    margin: 0px;
    order: 1;
}

.main-top-in-box-img-fi{
    display: block;
    margin: 0px;
    height: 100%;
}

.main-top-in-box-img-fi-in{
    
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 244px;
    margin: 0px;
    padding: 0px;
    background: url(https://static.tumblbug.com/wpa/b092e02….png) center center no-repeat rgb(252, 252, 252);
    display: inline-flex;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.main-top-in-box-img-fi-in-img{
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    object-fit: cover;
    border: 0;
}

.main-top-in-box-content{
    order: 3;
    -webkit-box-flex: 1;
    flex: 1 1 0px;
    margin: 0px 0px 0px 86px;
    width: 100%;
}

.main-top-in-box-content-fund{
    width: 100%;
    order: 4;
    display: block;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem 3.5rem;
}

.main-top-in-box-content-fund-top{
    margin: 0px 0px 15px;
}

.main-top-in-box-content-fund-top-title{
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    word-break: keep-all;
}

.main-top-in-box-content-fund-top-pi{
    font-size: 1.6rem;
    letter-spacing: 0.5px;
}

.main-top-in-box-content-fund-top-pi-de{
    margin-right: 7px;
    font-size: 36px;
    white-space: nowrap;
}

.main-top-in-box-content-fund-top-pi-de span{
    font-size: 0.85rem;
    margin-left: 0.25rem;
}

.main-top-in-box-content-fund-top-pi-pe{
    font-size: 0.9rem;
    font-weight: bolder;
    word-break: keep-all;
}

.main-top-in-box-content-fund-mi{
    padding: 0px;
    padding-bottom: 15px;
}

.main-top-in-box-content-fund-bo{
    padding: 0px;
}

.main-funding-de{
    margin: 0px 0px 15px;
    padding: 0px;
}

.main-funding-de-box{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid rgb(244, 244, 244);
}

.main-funding-de-box-in{
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
}

.main-funding-de-box-in-dt{
    width: 100px;
    color: rgb(28, 28, 28);
    font-size: 12px;
    font-weight: bold;
    line-height: 120%;
}

.main-funding-de-box-in-dd{
    margin: 0px;
    flex: 1 1 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(28, 28, 28);
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
}

.main-funding-in{
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.main-funding-in-box{
    padding: 0px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.main-funding-in-box-ri{
    -webkit-box-flex: 1;
    flex-grow: 1;
    order: 3;
}

.main-funding-in-box-ri-in{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.main-funding-in-box-ri-in-btn{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    flex: 1 1 0%;
}

.main-funding-in-box-ri-in-btn-in{
    flex: 1 1 0%;
}

.main-funding-in-box-ri-in-btn-in-btn{
    width: 100%;
    height: 48px;
    padding: 14px 20px;
    border-radius: 8px;
    gap: 4px;
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    background-color: rgb(28, 28, 28);
    color: white;
}

.main-funding-in-box-le{
    order: 1;
    position: relative;
    padding-right: 14px;
}

.main-funding-in-box-le-in{
    padding: 0.5rem 0px;
}

.main-funding-in-box-le-in-in{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 44px;
    height: 48px;
    background: white;
    cursor: pointer;
    position: relative;
}

.main-funding-in-box-le-in-in-like{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.main-funding-in-box-le-in-in-like-view{
    display: contents;
    align-self: center;
}

.main-funding-in-box-le-in-in-like-view svg{
    overflow: hidden;
    fill: rgb(109, 109, 109) !important;
    width: 1em;
    height: 1em;
}

.main-funding-in-box-le-in-in-like-view span{
    margin-top: 4px;
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
    text-align: center;
}